[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pip_conf_index_global"

[packages]
requests = "2.32.3"
beautifulsoup4 = "4.12.3"
tinydb = "4.8.0"
drissionpage = "4.0.5.6"
pillow = "10.4.0"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.5"
